@media screen and (max-width: 734px ) 
{
    .left-sidebar
    {
        width:150px;
    }
    .main-content
    {
        margin-left: 220px;
        align-content: center;  
        text-align: center;
    }

    .section-one-items, .section-two-items
    {
        align-content: center;
        justify-content: center;
    }
    .content-section-one >h2 , .content-section-two > h2
    {
    font-size: 2em;
    }

    .items
    {
    margin: 5px;
    height:140px;
    width:250px;
    border-radius: 10px;
    }
    
}