body
{
    /* background-color: red; */
    overflow-x: hidden;
    
}
page-content
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;

}   
.nav
{
    width: 100%;
    height:40px;
    background-color: rgb(54, 54, 54);

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color:white;
}
.logo
{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.logo-img
{
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: lightgray;

    margin-right: 10px;

}
.burger-menu
{
    margin-right: 20px;
}
.burger-menu > img
{
    width:45x;
    height:45px;
    filter: invert(100%);
    margin-right: 10px;
}
.main
{
    display: flex;

    margin-top: 40px;
    background-color : white;
}
.left-sidebar
{
    width:200px;
    height:100vh;
    
    position: fixed;

    background-color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.sidebar-items
{
margin-top:5px;
background-color: darkgrey;
width:100%;
}
.sidebar-items > h4
{
    margin-left:10px;
    font-weight: 500;
}
.sidebar-items:first-child{
    margin-top: 25px;
}
.selected-sidebar-item
{
    background-color: lightgray;
}
.sidebar-items:hover
{
    background-color: white;

    border:2px solid black ;
    margin-top:3px;
    border-radius: 5px;
    
}
.sidebar-items:first-child:hover
{
    margin-top: 23px;
}
.main-content
{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    margin-left: 300px;
}
.content-section-one
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}
.section-one-items, .section-two-items
{
    display: flex;
    flex-wrap: wrap;
}
.items
{
    margin: 10px;
    height:170px;
    width:350px;
    background-color: lightgrey;
    border-radius: 10px;
}

.items:hover
{
    border: 2px solid black;
    border-radius: 10px;
    margin:8px;
}   

.content-section-one >h2 , .content-section-two > h2
{
    font-size: 2.7em;
    font-weight: bold;
    width: 100%;
    size: 110%;
}
