
.navbar
{

    background-color:   rgba(135,206,250, 0.7);
    margin: auto;
    width : 75%;

    border: solid black;

    display: flex;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0px;
    left: 0px;
}
.links
{
    display: flex;

}

.nav-link
{
    margin-left: 7px;
    padding: 1px;

    flex:1;

    border-left: dashed black;
}
.nav-link:last-child
{
    flex: 3;
}

.main
{
    margin: auto;
    margin-top: 20px;
    
    height: 800px;
    width: 75%;


    

    display: grid;

    grid-template-columns: 6fr 1fr;
    grid-gap: 10px;

}
.main-text
{
    background-color: rgba(135,206,250, 0.7);


    border: solid black;

    display: grid;
    grid-template-columns: 1fr 1fr;

}
.main-side
{
    background-color: rgba(135,206,250, 0.7);


    border: solid black;
}
.footer
{

    margin: auto;
    margin-top: 20px;
    
    width: 75%;

    background-color: rgba(135,206,250, 0.7);


    border: solid black;
}