body {
    margin: 0px;
    padding: 0px;

    background-color: lightblue;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.gallery {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.gallery__column {
    
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    flex-basis: 30%;
}


.container {
    position: relative;
    margin: auto;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
.container img {
    width: 100%;
}
.container:hover::before {
    content: '';
 
    position: absolute;
    z-index: 2;
    
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.container .overlay-wrapper{
    display: none;
}
.container:hover>.overlay-wrapper {
    position: absolute;
    z-index: 3;
    top: calc( 100% - 30px);
    left: 30px;

    display: block;


    color: white;

}
 .container img {
} 