<!-- Contact List HTML -->
<input #newContact placeholder="Add Contact" (keyup.enter)="addContact(newContact.value); newContact.value='' ">
<ul>
  <li *ngFor="let contact of store.contacts">
    <app-contact [contact]="contact"></app-contact>
  </li>
</ul>
