<div class="buttons-container">
  <button (click)="btnClick()"> Button 1</button>
  <button (click)="btnClick()"> Button 2</button>
  <button (click)="btnClick()"> Button 3</button>
  <button (click)="btnClick()"> Button 4</button>
</div>

{{text}}
