<!-- Contact HTML -->
<div class="contact-container">
  {{ contact.name }}
  <button (click)="starContact(contact)">
    StarIt
  </button>
  <button (click)="removeContact(contact)">
    Delete
  </button>
</div>
