<h1>Case without using NgZone to prevent change detection</h1>

<app-without-zone></app-without-zone>

<h1>Case with NgZone usage</h1>

<app-with-zone></app-with-zone>



<h2>Change Detections times Called: {{thicks}}</h2>
