.post-container {
  height: 300px;
  width: 400px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 15px;    
}
.photos {
  margin-bottom: 50px;

  text-align: center;
}
.title{
    /* margin: auto; */
    margin-top: 50px;
}
.line {
  border: 1px solid black;
  width: 100%;
}
